.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.png
.idea/bioinformatics_analysis.iml
.idea/misc.xml
*.html
*.csv
**/*.pyc
**/*.DS_Store
**/*.keras
**/*.html
**/*.RDataTmp
venv
**/*.h5
data
**/*.csv#
**/*.pdf
*.pdf
CRISPR_screen_data
propensity_score_figures
